/* HEADER */
.users-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.create-btn {
  background: linear-gradient(135deg, #1976d2, #42a5f5);
  border: none;
  padding: 8px 16px;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.create-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* TABLE */
.users-table {
  width: 100%;
  border-collapse: collapse;
}

.users-table th {
  background-color: #f5f7fa;
  padding: 12px;
  text-align: left;
}

.users-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.users-table tr:hover {
  background-color: #f9fbff;
}

/* GENDER BADGE */
.badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.badge.male {
  background-color: #e3f2fd;
  color: #1976d2;
}

.badge.female {
  background-color: #fce4ec;
  color: #d81b60;
}

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

/* DRAWER */
.drawer {
  position: fixed;
  top: 0;
  right: -450px;
  width: 400px;
  height: 100%;
  background: white;
  padding: 25px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 1000;
}

.drawer.open {
  right: 0;
}

/* FORM */
.form-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 600;
}

.form-group input,
.form-group select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
  transition: 0.2s;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #1976d2;
  outline: none;
}

/* CHECKBOX */
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkbox-item {
  font-size: 14px;
}

/* BUTTONS */
.drawer-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.save-btn {
  background: #2e7d32;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.save-btn:hover {
  background: #1b5e20;
}

.cancel-btn {
  background: #e98787;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn:hover {
  background: #f47c7c;
}

.action-icons {
  display: flex;
  gap: 15px;
  font-size: 16px;
}

.edit-icon {
  color: #1976d2;
  cursor: pointer;
  transition: 0.2s;
}
.view-icon{
  cursor: pointer;
}

.edit-icon:hover {
  transform: scale(1.2);
}

.delete-icon {
  color: red;
  cursor: pointer;
  transition: 0.2s;
}

.delete-icon:hover {
  transform: scale(1.2);
}

